*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    background-color:red;
}
.nav{
    display: flex;
    align-items: space-between;

}
.texto{
    background-color:red;
    height:73.1vh;
    overflow: scroll;
}
.publicidad{
    background-color:yellow;
    height:73.1vh;
    padding: 0px;
}
.musica{
    background-color:green;

    
}
.redes{
    background-color: cyan;
    height:6.4vh;
}
.gym{
    max-width: 100%;
    height: 100%;
}

.redes{
    display:flex;
    align-items: space-between;
    
}
.miniatura{
    width: 5vw;
    height: 5vh;

}